/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/* Header Styles */
header {
    background-color: #ff6600; /* A bright orange color for that 90s feel */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 5px solid #ff6600;
}

/* Footer Styles */
footer {
    background-color: #ff6600;
    text-align: center;
    padding: 10px;
}

/* Gallery Page Styles (for the gallery page) */
/* Customize these styles to create a gallery layout */
.gallery-image {
    margin: 10px;
    border: 5px solid #ff6600;
    max-width: 100%;
    height: auto;
}

/* Contact Page Styles (for the contact page) */
address {
    font-style: normal;
    font-size: 18px;
}

.zoom{
    margin-left: 10px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover{
    transform: scale(1.1);
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0,8);
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }